In [82]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tkinter import *
import os

In [17]:
url = 'https://en.wikipedia.org/wiki/History_of_Python'
dfs = pd.read_html(url)

In [18]:
print(len(dfs))

1

In [19]:
dfs[0].head()

,Version,Latest micro version,Release date,End of full support,End of security fixes
0,NaN,0.9.9[2],1991-02-20[2],1993-07-29[a][2],1993-07-29[a][2]
1,NaN,1.0.4[2],1994-01-26[2],1994-02-15[a][2],1994-02-15[a][2]
2,NaN,1.1.1[2],1994-10-11[2],1994-11-10[a][2],1994-11-10[a][2]
3,NaN,NaN,1995-04-13[2],Unsupported,Unsupported
4,NaN,NaN,1995-10-13[2],Unsupported,Unsupported

In [21]:
url = 'https://en.wikipedia.org/wiki/History_of_Python'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [54]:
url = "https://www.komo.co.il/code/cars/"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [84]:
cardStyle = soup.find(class_="CardStyle")
# print(cardStyle.prettify())

In [85]:
        ## a "list" with all the "car styles"
cardStyle.findAll("div")
        ## taking only the types that intrests us
ourcarstyles = cardStyle.findAll("div")[0:4]
# ourcarstyles

In [86]:
# ourcarstyles[0]

In [108]:
url = "https://www.komo.co.il/code/cars/private.asp?currPage=2&subLuachNum=1&collapsed=1"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [110]:
# print(soup.prettify())

In [111]:
        ## the code below can take the information in the link:
        ## https://www.komo.co.il/code/cars/private.asp?currPage=2&subLuachNum=1&collapsed=1
        ## and turn it to an orgenized list!!!
lis = []
for tr in soup.findAll("tr" ,bgcolor="#FFFFFF"):
    values = [td.text for td in tr.findAll("td")]
    lis.append(values)

len(lis)

20

In [112]:
lis

[['רכב פרטי',
  'פורד - פיאסטה',
  'אשדוד - אשקלון',
  '159000',
  '27,000\xa0₪',
  '2014',
  '8 שעות '],
 ['רכב פרטי',
  'יונדאי - איוניק',
  'ראשל"צ והסביבה',
  '14500',
  '126,500\xa0₪',
  '2021',
  '6 שעות '],
 ['רכב פרטי',
  'פיג’ו - 2008',
  'תל אביב',
  '79000',
  '63,500\xa0₪',
  '2017',
  '7 שעות '],
 ['רכב פרטי',
  'סקודה - ראפיד',
  'באר שבע והסביבה',
  '163000',
  '48,000\xa0₪',
  '2016',
  '1 ימים '],
 ['רכב פרטי',
  'טויוטה - יאריס',
  'חיפה וחוף הכרמל',
  '152000',
  '46,000\xa0₪',
  '2014',
  '1 ימים '],
 ['רכב פרטי',
  'מאזדה - 3',
  'חיפה וחוף הכרמל',
  '100000',
  '36,000\xa0₪',
  '2010',
  '7 שעות '],
 ['רכב פרטי',
  'מאזדה - 3',
  'נס ציונה - רחובות',
  '170000',
  '47,000\xa0₪',
  '2014',
  '1 ימים '],
 ['רכב פרטי',
  'סוזוקי - סוויפט',
  'רמת גן - גבעתיים',
  '46000',
  '6,500\xa0₪',
  '2001',
  '15 שעות '],
 ['רכב פרטי',
  'שברולט - ספארק',
  'קריות',
  '109500',
  '22,500\xa0₪',
  '2016',
  '7 שעות '],
 ['רכב פרטי',
  'הונדה - ג’אז',
  'ירושלים והסביבה',
  '252214',
  '7,990\xa0₪',
  '2005',
  '6 שעות '],
 ['רכב פרטי',
  'יונדאי - i10',
  'חיפה וחוף הכרמל',
  '9012',
  '72,000\xa0₪',
  '2020',
  '1 ימים '],
 ['רכב פרטי',
  'קיה - פיקנטו',
  'חולון - בת ים',
  '83000',
  '65,900\xa0₪',
  '2018',
  '6 שעות '],
 ['רכב פרטי',
  'טויוטה - קורולה',
  'חיפה וחוף הכרמל',
  '140000',
  '73,000\xa0₪',
  '2016',
  '1 ימים '],
 ['רכב פרטי',
  'מאזדה - 3',
  'נס ציונה - רחובות',
  '210000',
  '14,500\xa0₪',
  '2009',
  '1 ימים '],
 ['רכב פרטי',
  'פולקסווגן - פולו',
  'קריות',
  '83000',
  '88,000\xa0₪',
  '2015',
  '6 שעות '],
 ['רכב פרטי',
  'טויוטה - אוריס',
  'נתניה והסביבה',
  '41000',
  '85,000\xa0₪',
  '2018',
  '1 ימים '],
 ['רכב פרטי',
  'סובארו - XV',
  'מושבים בשפלה',
  '13000',
  '148,000\xa0₪',
  '2021',
  '8 שעות '],
 ['רכב פרטי',
  'מרצדס - E-CLASS',
  'חיפה וחוף הכרמל',
  '129000',
  '70,000\xa0₪',
  '2009',
  '7 שעות '],
 ['רכב פרטי',
  'מאזדה - 3',
  'חיפה וחוף הכרמל',
  '145000',
  '56,000\xa0₪',
  '2016',
  '1 ימים '],
 ['רכב פרטי',
  'טויוטה - פריוס',
  'נתניה והסביבה',
  '47000',
  '118,000\xa0₪',
  '2018',
  '1 ימים ']]

In [125]:
lis = []
for x in [("https://www.komo.co.il/code/cars/private.asp?currPage="+y+"&subLuachNum=1&collapsed=1") for y in ["1","2","3","4","5","6","7","8","9","10"]]:
    lis.append(x)
lis

['https://www.komo.co.il/code/cars/private.asp?currPage=1&subLuachNum=1&collapsed=1',
 'https://www.komo.co.il/code/cars/private.asp?currPage=2&subLuachNum=1&collapsed=1',
 'https://www.komo.co.il/code/cars/private.asp?currPage=3&subLuachNum=1&collapsed=1',
 'https://www.komo.co.il/code/cars/private.asp?currPage=4&subLuachNum=1&collapsed=1',
 'https://www.komo.co.il/code/cars/private.asp?currPage=5&subLuachNum=1&collapsed=1',
 'https://www.komo.co.il/code/cars/private.asp?currPage=6&subLuachNum=1&collapsed=1',
 'https://www.komo.co.il/code/cars/private.asp?currPage=7&subLuachNum=1&collapsed=1',
 'https://www.komo.co.il/code/cars/private.asp?currPage=8&subLuachNum=1&collapsed=1',
 'https://www.komo.co.il/code/cars/private.asp?currPage=9&subLuachNum=1&collapsed=1',
 'https://www.komo.co.il/code/cars/private.asp?currPage=10&subLuachNum=1&collapsed=1']

In [131]:
            #### חשבתי לעשות את הרשימה בצורה של מערך דו ממדי אבל זה לא הכרחי וסתם מסבך
lis = []
for style in ["private","commercial","jeeps","trucks"]:
    temp = []
    for x in [("https://www.komo.co.il/code/cars/"+style+".asp?currPage="+y+"&subLuachNum=1&collapsed=1") for y in ["1","2","3","4","5","6","7","8","9","10"]]:
        temp.append(x)
    lis.append(temp)
            
            
            ## now we have a list of links to *all* the wright
            ## pages!!!

4

In [137]:
# for x in lis:
#     for y in x:
#         print(y)

IndentationError: expected an indented block (Temp/ipykernel_22752/2498197575.py, line 3)

In [148]:
links = []
for style in ["private","commercial","jeeps","trucks"]:
    for x in [("https://www.komo.co.il/code/cars/"+style+".asp?currPage="+y+"&subLuachNum=1&collapsed=1") for y in ["1","2","3","4","5","6","7","8","9","10"]]:
        links.append(x)

In [149]:
 ## this aprove that we have all the links we need
len(links)

40

In [154]:
soups = []
for x in links:
    page = requests.get(x)
    soup = BeautifulSoup(page.text,"html.parser")
    soups.append(soup)

In [156]:
data = []
for x in soups:
    for tr in soup.findAll("tr" ,bgcolor="#FFFFFF"):
        values = [td.text for td in tr.findAll("td")]
        data.append(values)

In [163]:
print(type(data[0][0]))
print(type(data[10][1]))
print(type(data[80][2]))
print(type(data[120][3]))
print(type(data[500][4]))
print(type(data[600][5]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [164]:
print(type(data[0][0]))
print(type(data[0][1]))
print(type(data[0][2]))
print(type(data[0][3]))
print(type(data[0][4]))
print(type(data[0][5]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [165]:
data[0]

['משאיות',
 'ניסאן - SFTF24',
 'פתח תקוה והסביבה',
 '255000',
 '30,000\xa0₪',
 '2008',
 '6 ימים ']