In [5]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tkinter import *
import os

In [6]:
def to_area(area):
    if(area in ['תל אביב','נס ציונה - רחובות',
               'מושבים בשרון','רמת גן - גבעתיים','רמלה - לוד','נתניה והסביבה',
                'רעננה - כפר סבא','הוד השרון והסביבה','בקעת אונו','מושבים במרכז',
               'גדרה יבנה והסביבה','רמת השרון - הרצליה','פתח תקוה והסביבה','ראשל"צ והסביבה',
               'חולון - בת ים']):
        return "center"
    if(area in ['חיפה וחוף הכרמל','טבריה והסביבה','עכו - נהריה','מושבים בצפון',
               'קריות','עמק יזרעאל','גליל ועמקים','חדרה וישובי עמק חפר','זכרון - בנימינה',
               'אזור צפון','כרמיאל והסביבה']):
        return "north"
    if(area in ['ירושלים והסביבה','בית שמש והסביבה',"קיסריה והסביבה",'מושבים בשפלה']):
        return "jerusalem"
    if(area in ['באר שבע והסביבה','אשדוד - אשקלון','מודיעין והסביבה','מושבים בדרום']):
        return "south"
    else: 
        return area

In [20]:
df = pd.read_csv("saved_data.csv").iloc[:,1:]
df = df.drop(["firm","time of ad"],axis=1)
df = df[df.cost != "לא צויין"]
to_cost = lambda x:int(x[0:-2].replace(",",""))
to_int = lambda x : int(x)
df.cost = df.cost.apply(to_cost)
df.km = df.km.apply(to_int)
df["year of prudaction"] = df["year of prudaction"].apply(to_int)
type_dummies = pd.get_dummies(df.car_type).iloc[:,1:]
df = pd.concat([df,type_dummies], axis = 1)
df = df.rename(columns={"רכב פרטי":"private","רכב מסחרי":"commercial","משאיות":"tracks"})
df = df.drop(columns={"car_type"})
df = df[df["km"]<=10**6]
df = df[(df["cost"]<=200_000)&(df["km"]<=600_000)]
df = df[(df["area"]!= "יישובי השומרון")&(df["area"]!= "אילת והערבה")]
df["area"] = df["area"].apply(to_area)

In [23]:
df = df[["cost","area"]]
df

       cost    area
0    102000  center
1     43210  center
2     70000   north
3     57000   north
4     38500   north
..      ...     ...
793  142000   south
794   30000   north
796   97100  center
797   68000   north
798   65000   south

[582 rows x 2 columns]

In [24]:
df[(df["area"]!="center")&
  (df["area"]!="north")&
  (df["area"]!="south")&
  (df["area"]!="jerusalem")]

Empty DataFrame
Columns: [cost, area]
Index: []

In [25]:
df.to_csv("saved_data_for_visual.csv")